.app-edit-event
  @media screen and (max-width 1280px)
    min-height calc(100vh - 48px);

  &__buttons-block
    @media screen and (max-width 1280px)
      height 145px

  .button-block
    @media screen and (max-width 1280px)
      display block

.app-create-event

  &__buttons-block
    @media screen and (max-width 1280px)
      height 80px

.app-event
  &__container
    background #ffffff
    min-height 570px
    padding 30px 204px
    @media screen and (max-width 1280px)
      height 100%
      min-height 100%
      padding 24px 0 0 0


  &__header
    display flex
    justify-content space-between
    align-items center
    padding 0 16px

    .name-event
      font-family: HelveticaNeue-Bold;
      font-size: 20px;
      color: #000000;
      letter-spacing: 0;
      @media screen and (max-width 1280px)
        line-height 24px

    .close-event
      background-color: #E9ECEF;
      border-radius: 100px;
      width 24px
      height 24px
      text-decoration none
      @media screen and (max-width 1280px)
        display none

  &__body
    display flex
    align-items: stretch;
    flex-direction: column;
    width 100%
    @media screen and (max-width 1280px)
      display block

    .body-row
      display flex
      justify-content space-between
      flex-grow 1
      @media screen and (max-width 1280px)
        display block

      &:first-child
        padding-top 20px
        @media screen and (max-width 1280px)
          padding 0

      &:not(:first-child)
        padding-top 24px
        @media screen and (max-width 1280px)
          padding 0

    .row-cell
      display: flex;
      flex-direction: column;
      width 420px
      @media screen and (max-width 1280px)
        display block
        width 100%
        margin-top 16px
        padding 0 16px

      .users-input
        display: flex;
        flex-direction: column;

      .users-select
        margin-top 12px
        display flex
        flex-wrap nowrap
        @media screen and (max-width 1280px)
          display block

        .select-user-item
          margin-right 8px
          @media screen and (max-width 1280px)
            margin 0px 0px 8px 0px


      .label-input
        font-family: HelveticaNeue-Bold;
        font-size: 13px;
        color: #000000;
        letter-spacing: 0;
        display inline-block
        margin-bottom 4px

    .event-users
      @media screen and (max-width 1280px)
        border-bottom 8px solid #E9ECEF
        padding-bottom 20px

    .event-rooms
      @media screen and (max-width 1280px)
        border-bottom 8px solid #E9ECEF
        padding-bottom 20px


    .event-date-time
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      align-items: center;
      @media screen and (max-width 1280px)
        display block
        border-bottom 8px solid #E9ECEF
        padding-bottom 20px

        &:after
          content: ""
          display block
          clear both

      .event-date
        display flex
        flex-direction column
        width 238px
        @media screen and (max-width 1280px)
          display block
          width 100%

        #date
          cursor pointer
          background-image url("../images/calendar.svg")
          background-repeat no-repeat
          background-position 95% center

      .event-time-from
        width 70px
        margin-left 14px
        @media screen and (max-width 1280px)
          margin-top 8px
          float left
          margin-left 0
          width 45%
        input
          width 70px
          @media screen and (max-width 1280px)
            display block
            width 100%

        label
          @media screen and (max-width 1280px)
            display none

      .event-time-to
        width 70px
        @media screen and (max-width 1280px)
          margin-top 8px
          float right
          width 45%
        input
          width 70px
          @media screen and (max-width 1280px)
            display block
            width 100%

        label
          @media screen and (max-width 1280px)
            display none

      .dash
        margin-top 14px
        @media screen and (max-width 1280px)
          display inline-block
          height 100%
          width 10%
          text-align center
          margin-top 20px
