.app-timer
  width: 49px
  position: relative;
  height: 100%
  transition left 0.5s linear 0.1s

  .app-timer-value
    background: #007DFF;
    border-radius: 100px;
    width: 49px
    height: 20px
    font-family: HelveticaNeue-Bold;
    font-size: 11px;
    color: #FFFFFF;
    letter-spacing: 0.4px;
    line-height: 22px;
    text-align: center;

  .app-timer-line
    display: block;
    height: calc(100% - 20px);
    background: #007dff;
    width: 1px;
    margin: 0 auto;
    z-index: 15;
    position: absolute;
    left: 0;
    right: 0;

.timerHidden
  display: none;
