.app-modal-dialog
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0,16,33,0.40);
  z-index: 60;
  display flex
  align-items: center;
  justify-content: center;
  @media screen and (max-width 1280px)
    align-items: flex-end;
    padding-bottom 24px

  &__dialog
    background: #FFFFFF;
    box-shadow: 0 1px 16px 0 rgba(0,44,92,0.28);
    border-radius: 8px;
    min-width: 440px;
    display: flex;
    flex-direction column
    justify-content: space-between;
    align-items center
    padding: 32px 0;
    @media screen and (max-width 1280px)
      min-width 100%
      width 100%

    .dialog-buttons
      margin-top 32px
      @media screen and (max-width 1280px)
        margin-top 24px

      .button:not(:last-child)
        @media screen and (max-width 1280px)
          margin-right 16px
