.app-time-scale
  background-color #ffffff
  display flex
  align-items center
  justify-content space-between
  height 100%


  &__value
    font-family HelveticaNeue-Bold
    font-size 11px
    color #252525
    letter-spacing .4px
    flex-grow 1
    flex-basis 49px
    text-align center
