<div class="header">
  <div class="header-mainLogo">
    {{#link-to 'index'}}
      <img src="../images/logo.svg" alt="Яндекс переговорки">
    {{/link-to}}
  </div>
  <div class="header-createBtn">
    {{yield}}
  </div>
</div>
