.index
  width 100%

  .scrollable-element
    @media screen and (max-width 1280px)
      overflow-x scroll
      overflow-y hidden
      width auto

    .index__date-and-time
      width 1050px!important
      padding-left: 0px;
    .index__rooms-and-events
      width 1050px!important
    .app-rooms-and-events__time-grid
      left: 0!important

  &__date-and-time
    width 100%
    height 46px
    background-color #ffffff
    display flex
    justify-content space-between
    align-items center
    box-shadow: 0 1px 0 0 #E9ECEF
    @media screen and (max-width 1280px)
      height 32px
      padding-left 180px
      width auto
      width 1230px

    .date-and-time-calendar-desctop
      height 100%
      @media screen and (max-width 1280px)
        display none

    .date-and-time-scaleTime
      height 100%
      flex-grow 1

  &__rooms-and-events
    margin-top 1px
    @media screen and (max-width 1280px)
      width 1230px


.date-and-time-calendar-mobile
  display none
  @media screen and (max-width 1280px)
    display block
    width 100%
    height 56px
    box-shadow: 0 1px 0 0 #E9ECEF;
    margin-bottom 1px
