<div class="app-autocomplete-root">
  {{#each items as |item|}}
  <div class="app-autocomplete-item" onmousedown={{action "selectElement" item}}>
      {{app-user-view user = item longView = true}}
  </div>
  {{/each}}
</div>
